<div class="medwriter">
    <div class="med medtext">
      <p>Them being at THE SciBOX means that they have been through:<br>
        1.	Sifting.<br>
        2.	Relevant Screening Tests.<br>
        3.	A Rigorous Interview.<br><br><br>RECRUIT WITH CONFIDENCE!</p><br><br>
    <h1>Medical<br>
    <span style="color: #51ADE5;">Scribe</span></h1><br>
    <img src="/assets/abtbreaker.png" alt="" srcset=""><br><br>
    <p>Streamlining healthcare documentation with precision and professionalism. Explore our dedicated medical scribe services today.</p>
    </div>
    <div class="med medimg">
        <img src="/assets/medscribe.png" alt="" srcset="" width="80%">
    </div>
    </div>
    
    <div class="works">
     <!--   <p style="font-weight: 600;
    font-size: 22px; color: #51ADE5;">Lorem ipsum.</p>
        <h5 id="h5">Lorem ipsum dolor sit amet.</h5>
    -->
    
        </div>
        <div class="blogcard">
          <!--     <div class="card" >
                   
                   <h5 id="blogtitle"><img src="/assets/serv4.png">&nbsp;&nbsp;MEDICAL NEWS.</h5>
                   <div class="card-body">
                     <p class="card-text">
                       
                       Verifies, shares and elaborates. To keep the world up to date with what’s new in the world of medicine. Proving with proof to hope for the best in future.</p>
                       
                   </div>
                 </div> -->
                 <div class="card" >
                   <h5 id="blogtitle"><img src="/assets/serv5.png">&nbsp;&nbsp;A PROPER<br>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PROFESSIONAL</h5>
                   <div class="card-body">
                     <p class="card-text">
                       
                      Our scribes are baccalaureate to master’s level healthcare professional.</p>
                       
                   </div>
                 </div>
                 <div class="card">
                   
                   <h5 id="blogtitle"><img src="/assets/serv8.png">&nbsp;&nbsp;EXTENSIVE<br>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HOURS</h5>
                   <div class="card-body">
                     <p class="card-text">
                       
                       Our scribes are available for extensive hours during daytime and night-time. Available for 8 to 10 hours. Availability varies from scribe to scribe.</p>
                       
                   </div>
                 </div>
                 <div class="card">
                   
                   <h5 id="blogtitle"><img src="/assets/serv6.png">&nbsp;&nbsp;HIPAA COMPLIANT<br> 
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ENVIRONMENT</h5>
                   <div class="card-body">
                     <p class="card-text">
                       
                      Imperative human right to have their health information totally secure. We believe in that and so assure it. </p>
                       
                   </div>
                 </div>
                 
           </div>
        <div class="blogcard">
            
              <div class="card">
                
                <h5 id="blogtitle"> <img src="/assets/serv2.png">&nbsp;&nbsp;MEDICAL<br> 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TERMINOLOGY</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Goes without saying that they are well aware of medical terminologies.</p>
                    
                </div>
              </div>
              <div class="card" >
                
                <h5 id="blogtitle"><img src="/assets/serv10typing.png">&nbsp;&nbsp;45+ WPM<br> 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TYPING SPEED</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Swift typing for amazing experience.</p>
                    
                </div>
              </div>
              <div class="card">
                
                <h5 id="blogtitle"><img src="/assets/serv15operating.png">&nbsp;&nbsp;OPTIMAL COMPUTER<br> 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SYSTEM</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    We provide 16gb ram, 256 SSD hard drive and Ethernet connection for obstruction-less operations.</p>
                    
                </div>
              </div>
            <!--  <div class="card">
                
                <h5 id="blogtitle"> <img src="/assets/serv3.png">&nbsp;&nbsp;LAB REPORTS.</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Lab reports based on data you have gathered from your arduous experiments.</p>
                    
                </div>
              </div>-->
             
        </div>
       
    
       <div class="blogcard">
            <div class="card" >
                
                <h5 id="blogtitle"><img src="/assets/serv9o.png">&nbsp;&nbsp;TEAM<br> 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COLLABORATION</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Collaborates closely with healthcare providers to enhance patient care and documentation.</p>
                    
                </div>
              </div>
              <div class="card">
                
                <h5 id="blogtitle"><img src="/assets/serv16speaking.png">&nbsp;&nbsp;FLUENT<br> 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ENGLISH</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Proficient English speakers and writers.</p>
                    
                </div>
              </div>
              
        </div>
        <div style="
        text-align: center; padding-bottom: 100px;">
        <button class="btn btn-m blast" (click)="goToBottom()">Book a Meeting</button>
    </div>
  <!--  
    <div class="inc" (window:scroll)="onWindowScroll($event)">
      <h1 id="thesci">The SciBOX</h1>
        <div class="counter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="employees">
                            <p class="counter-count" >10</p> <span id="sign">+</span>
                            <p class="employee-p" style="font-weight: 600;
                            font-size: 22px; color: white;">HAPPY CLIENTS</p>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="customer">
                            <p class="counter-count">10</p><span id="sign">+</span>
                            <p class="customer-p"  style="font-weight: 600;
                            font-size: 22px; color: white;">CLIENT SERVED</p>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="design">
                            <p class="counter-count">7</p><span id="sign">+</span>
                            <p class="design-p"  style="font-weight: 600;
                            font-size: 22px; color: white;">YEARS OF EXPERIENCE</p>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="order">
                            <p class="counter-count">10</p><span id="sign">+</span>
                            <p class="order-p"  style="font-weight: 600;
                            font-size: 22px; color: white;">TEAM MANAGEMENT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
    <img id="servbg" src="/assets/servbg.png" alt="" srcset="">
        <div class="other" style="padding-top:50px;"><h1>Other Services</h1></div>
    <div class="blogcard2">
        <div class="card card2" >
            <img src="/assets/other1.png" id="imgb" class="card-img-top" alt="...">
            <h5 id="blogtitle2">Medical Writer</h5>
            <div class="card-body">
              <p class="card-text">
                Cultivating clarity in medical communication. Welcome to our platform, where expertise meets precision in healthcare content. <br>
    HIRE NOW!</p>
                <button class="btn btnlearn" routerLink="/medicalwriter">Learn More ➜</button>
            </div>
          </div>
          <div class="card card2">
            <img src="/assets/other2.png" id="imgb" class="card-img-top" alt="...">
            <h5 id="blogtitle2">Call Representative</h5>
            <div class="card-body">
              <p class="card-text">
                Connecting you to compassionate care. Our skilled call representatives are here to assist you with professionalism and expertise.<Br> HIRE NOW!</p><br>
                <button class="btn btnlearn" routerLink="/callrepresentatives">Learn More ➜</button>
            </div>
          </div>
         
    </div>
    
    <app-footer></app-footer>
    
