<div class="medwriter">
    <div class="med medtext">
      <p>Them being at THE SciBOX means that they have been through:<br>
	1.	Sifting.<br>
	2.	Relevant Screening Tests.<br>
	3.	A Rigorous Interview.<br><br><br>RECRUIT WITH CONFIDENCE!</p><br><br>
    <h1>Call<br>
    <span style="color: #51ADE5;">Representative</span></h1><br>
    <img src="/assets/abtbreaker.png" alt="" srcset=""><br><br>
    <p>Connecting you to compassionate care. Our skilled call representatives are here to assist you with professionalism and expertise.</p>
    </div>
    <div class="med medimg">
        <img src="/assets/medcall.png" alt="" srcset="" width="80%">
    </div>
    </div>
    
  <div class="works">
      <!--  <p style="font-weight: 600;
    font-size: 22px; color: #51ADE5;">Lorem ipsum.</p>
        <h5 id="h5">Lorem ipsum dolor sit amet.</h5>
    -->
    
        </div>
          <div class="blogcard">
            <div class="card" >
                <h5 id="blogtitle"><img src="/assets/serv16speaking.png">&nbsp;&nbsp;EXCELLENT COMMUNICATION SKILLS</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Effective verbal and written communication is essential for clear interactions with customers and colleagues and that’s what our talent possesses.</p>
                    
                </div>
              </div>
              <div class="card">
                
                <h5 id="blogtitle"> <img src="/assets/serv14schedual.png">&nbsp;&nbsp;SCHEDULING PROFICIENCY</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Strong scheduling and time management skills to efficiently coordinate appointments and tasks.</p>
                    
                </div>
              </div>
              <div class="card">
                
                <h5 id="blogtitle"> <img src="/assets/serv13organization.png">&nbsp;&nbsp;ORGANISATION</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Being well-organised to maintain accurate records and schedules.</p>
                    
                </div>
              </div>
             
        </div>
        <div class="blogcard">
            <div class="card" >
                
                <h5 id="blogtitle"><img src="/assets/serv12attention.png">&nbsp;&nbsp;ATTENTION to CONFIDENTIALITY</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Upholding strict confidentiality regarding sensitive customer information.</p>
                    
                </div>
              </div>
              <div class="card">
                
                <h5 id="blogtitle"><img src="/assets/serv9o.png">&nbsp;&nbsp;TEAM PLAYER</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Collaborative and able to work effectively within a team environment.</p>
                    
                </div>
              </div>
              <div class="card" >
                
                <h5 id="blogtitle"><img src="/assets/serv11solution.png">&nbsp;&nbsp;PROBLEM-SOLVING</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Strong problem-solving skills to resolve scheduling conflicts or customer issues effectively.</p>
                    
                </div>
              </div>
              
        </div>
      
      <div style="
      text-align: center; padding-bottom: 100px;">
      <button class="btn btn-m blast" (click)="goToBottom()">Book a Meeting</button>
  </div>
    
        <!--
        <div class="blogcard">
          <div class="card">
                
            <h5 id="blogtitle"><img src="/assets/serv6.png">&nbsp;&nbsp;MEDICAL WRITING.</h5>
            <div class="card-body">
              <p class="card-text">
                
                Everything that medical writing encompasses. </p>
                
            </div>
          </div>
            
              <div class="card">
                
                <h5 id="blogtitle"><img src="/assets/serv8.png">&nbsp;&nbsp;TIMEZONE.</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Ready to work at your timezone.</p>
                    
                </div>
              </div>
              

    <div class="inc" (window:scroll)="onWindowScroll($event)">
    <h1 id="thesci">The SciBOX</h1>
        <div class="counter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="employees">
                            <p class="counter-count" >10</p> <span id="sign">+</span>
                            <p class="employee-p" style="font-weight: 600;
                            font-size: 22px; color: white;">HAPPY CLIENTS</p>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="customer">
                            <p class="counter-count">10</p><span id="sign">+</span>
                            <p class="customer-p"  style="font-weight: 600;
                            font-size: 22px; color: white;">CLIENT SERVED</p>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="design">
                            <p class="counter-count">7</p><span id="sign">+</span>
                            <p class="design-p"  style="font-weight: 600;
                            font-size: 22px; color: white;">YEARS OF EXPERIENCE</p>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="order">
                            <p class="counter-count">10</p><span id="sign">+</span>
                            <p class="order-p"  style="font-weight: 600;
                            font-size: 22px; color: white;">TEAM MANAGEMENT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
    <img id="servbg" src="/assets/servbg.png" alt="" srcset="">
        <div class="other" style="padding-top:50px;"><h1>Other Services</h1></div>
    <div class="blogcard2">
        <div class="card card2" >
            <img src="/assets/other1.png" id="imgb" class="card-img-top" alt="...">
            <h5 id="blogtitle2">Medical Scribe</h5>
            <div class="card-body">
              <p class="card-text">
                Streamlining healthcare documentation with precision and professionalism. Explore our dedicated medical scribe services today.
   <br> HIRE NOW!</p><br><br>
                <button class="btn btnlearn" routerLink="/medicalscribe">Learn More ➜</button>
            </div>
          </div>
          <div class="card card2">
            <img src="/assets/other2.png" id="imgb" class="card-img-top" alt="...">
            <h5 id="blogtitle2">Medical Writers</h5>
            <div class="card-body">
              <p class="card-text">
                Cultivating clarity in medical communication. Welcome to our platform, where expertise meets precision in healthcare content. 
             <br>   HIRE NOW!</p>
                <button class="btn btnlearn" routerLink="/medicalwriter">Learn More ➜</button>
            </div>
          </div>
         
    </div>
    
    <app-footer></app-footer>
    